<!DOCTYPE html>
<html>
  <head>
    <title>Proverb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="nav_area">
        <p class="header-title">
          <a href="#" class="opa">
            Proverb
          </a>
        <ul class="h_nav">
          <li class="logo">
            <a href="#" class="header-new-btn btn">
              名言投稿
            </a>
          </li>
          <li class="logo">
            <a href="#" class="header-mypage-btn btn">
              マイページ
            </a>
          </li>
          <li class="logo">
            <a href="#" class="header-sign-out-btn btn">
              サインアウト
            </a>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
