<!DOCTYPE html>
<html>
  <head>
    <title>Proverb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="nav_area">
        <p class="header-title">
          <%= link_to 'Proverb', root_path, class: "opa" %>
        <ul class="h_nav">
          <li class="logo">
            <a href="/users/<%= current_user.id %>" class="header-mypage-btn btn">
              マイページ
            </a>
          </li>
          <li class="logo">
            <%= link_to 'サインアウト', destroy_user_session_path, class: "header-sign-out-btn btn", method: :delete %>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
